@tailwind base;
@tailwind components;
@tailwind utilities;


/* Quick action */
.quick-action-container {
    border-color: var(--figma-primary-mint);
    color: var(--edufund-base-blue-350);
}

.quick-action-icon {
    color: var(--figma-primary-mint);
}

/* Quick action END */

/* colors override */
.table-head {
    color: var(--edufund-base-blue-350) !important;
}

.ef-card {
    @apply ef-border ef-rounded-xl ef-bg-white ef-shadow-sm ef-p-5 ef-space-y-4;
}

.ef-section-title {
    @apply ef-text-base ef-font-semibold ef-text-gray-800 ef-mb-2;
}

.ef-badge {
    @apply ef-inline-block ef-px-3 ef-py-1 ef-rounded-full ef-text-xs ef-font-semibold;
}